@import "tailwindcss";
@import "tailwindcss";

#root {
  min-height: 100%;
}

body {
  background-color: #f8f5ef;
  color: #111827;
}

@theme {
  --color-primary: #4f46e5;
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;
  --text-primary: #ffffff;
  --text-secondary: black;

  --color-accent: #06b6d4;
  --font-sans: "Geist", sans-serif;
  --font-display: "DM Serif Display", serif;
  --font-mono: "DM Mono", monospace;
}
